.fileList {
  display: flex;
  flex-direction: column;
  gap: 4px;

  a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: var(--ant-primary-color);

    &:hover {
      text-decoration: underline;
    }
  }
}
