.container {
  padding: 0;

  :global {
    .ant-card {
      margin-bottom: 16px;
    }

    .ant-statistic-title {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.45);
    }

    .ant-statistic-content {
      font-size: 20px;
    }
  }
}

.rules {
  p {
    margin-bottom: 8px;
    line-height: 1.8;
  }
}
